@font-face {
  font-family: 'Cursed Timer';
  src: url(CursedTimerULiL.ttf);
}

body {
  background-color: #333333;
}

.page-frame {
  margin: 0 auto;
  max-width: 960px;
}

.main-title {
  color: #cccccc;
}

.card {
  border-radius: 1px;
  background-color: #cccccc;
  color: #333333;
  height: 240px;
  width: 360px;
}

.card__header {
  font-size: 24px;
  text-align: center;
}

.lcd-display {
  background-color: #111111;
  border-radius: 4px;
  box-sizing: border-box;
  color: #a00000;
  font-family: 'Cursed Timer', 'Lucida Console';
  font-size: 48px;
  padding: 8px;
}
