@font-face {
  font-family: 'Cursed Timer';
  src: url(CursedTimerULiL.ttf);
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url(Quicksand-Bold.ttf);
}

@font-face {
  font-family: 'Quicksand Medium';
  src: url(Quicksand-Medium.ttf);
}

body {
  background-color: #333333;
}

.page-frame {
  margin: 0 auto;
  max-width: 960px;
}


/* Header */

.top-nav {
  background-color: #888888;
  box-sizing: border-box;
  padding: 4px 0;
  width: 100%;
}

.top-nav__nav-link {
  background-color: #111111;
  box-sizing: border-box;
  border: solid 4px #333333;
  border-radius: 2px;
  color: #888888;
  display: inline-block;
  font-family: 'Quicksand Medium', Sans;
  font-size: 24px;
  margin-left: 4px;
  padding: 8px;
  text-decoration: none;
}

.top-nav__nav-link:hover {
  background-color: #191919;
  color: #aa8888;
}

.top-nav__nav-link--active {
  background-color: #191919;
  color: #d00000;
  text-shadow: #a00000 0 0 2px;
}

.top-nav__nav-link--active:hover {
  background-color: #222222;
  color: #f00000;
  text-shadow: #c00000 0 0 2px;
}


/* Content */

.main-title {
  color: #cccccc;
}

.card {
  border-radius: 1px;
  background-color: #ffffff;
  color: #111111;
  font-family: 'Quicksand Medium', Sans;
  padding: 16px;
}

.card__header {
  font-family: 'Quicksand Bold', Sans;
  font-size: 48px;
  text-align: center;
  padding-bottom: 16px;
}

.lcd-display {
  background-color: #111111;
  border-radius: 4px;
  box-sizing: border-box;
  color: #c00000;
  font-family: 'Cursed Timer', 'Lucida Console';
  font-size: 48px;
  padding: 8px;
  text-align: right;
  text-shadow: #a00000 0 0 2px;
}

.card__counter-list {
  margin: auto;
}

.card__label {
  color: #111111;
  font-family: 'Quicksand Medium', Sans;
  font-size: 36px;
  padding: 16px;
}

.page {
  border-radius: 1px;
  background-color: #ffffff;
  color: #111111;
  font-family: 'Quicksand Medium', Sans;
  padding: 32px;
}

.page__heading {
  font-family: 'Quicksand Bold', Sans;
  font-size: 48px;
  margin: 0 0 0.618em 0;
}

.page__body {
  font-family: 'Quicksand Medium';
  font-size: 20px;
}


/* Footer */

.footer {
  background-color: #888888;
  box-sizing: border-box;
  color: #d0d0d0;
  padding: 16px;
  width: 100%;
}

.footer__link {
  color: #e0e0e0;
  font-family: 'Quicksand Medium', Sans;
  font-size: 12px;
}

.footer__link:hover {
  color: #ffffff;
}

.octicon {
  box-sizing: border-box;
  fill: #ffffff;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  padding: 4px;
}
